[Unit]
Description=Project V V2Ray Service
After=network.target
Wants=network.target

[Service]
Type=simple
PIDFile=/run/myv2ray.pid
EnvironmentFile=/tmp/currentuser
ExecStart=/usr/bin/v2ray/v2ray -config /home/${NEMOUSER}/.shadowfish.json
RestartPreventExitStatus=23
LimitNOFILE=102400
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target