[Unit]
Description=Project V V2Ray Service
After=dbus.socket
Requires=dbus.socket

[Service]
Type=dbus
BusName=xyz.freedom.v2ray
EnvironmentFile=-/var/lib/environment/v2ray/*.conf
ExecStart=/usr/bin/shadowfishd
Restart=always
RestartSec=15

